html {
  font-size: 18px;
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
}

#__next {
  /* letter-spacing: 1px; */
  /* font-smooth: always; */
  /* -webkit-font-smoothing: antialiased; */
}

