$max-witdh: 40rem;
$accent-color: rgb(255, 45, 85);

.layout {
  color: #000;
  background: #fff;
  // max-width: $max-witdh;
  margin: 0 auto;
  // background: #f5f5f8;
}

.header {
  position: sticky;
  top: 0;
  margin: 2rem 0;
  background: rgb(255, 255, 255, .8);
  backdrop-filter: blur(16px);
}

.border {
  height: 1px;
  border: none;
  background: none;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0, .075);
  position: sticky;
  top: 4rem;
  margin-top: 2rem;
}

.navs {
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: $max-witdh;
  align-items: center;
  justify-content: space-between;
  nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    &.selected {
      // font-weight: 400;
      box-shadow: 0 2px 0 0 currentColor;
    }
    &.name {
      font-size: 18px;
      font-weight: 600;
      color: $accent-color;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
    > nav {
      line-height: none;
    }
  }
}

.main {
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: $max-witdh;
}

.section {
  line-height: 2;
  font-weight: 400;

  h1, h2, h3 {
    color: #333;
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem;
    // font-weight: 600;
  }

  a {
    color: rgb(0, 112, 245);
  }
}
